.tabs>div {
    text-align: center;
}

.tab1show {
    /* margin-left: 20px; */
    /* position: relative; */
    /* z-index: 99; */
    /* position: relative;
    width: 120px;
    height: 0;
    margin-left: 1px;
    border-left: 0;
    border-top: 0;
    border-right: 35px solid transparent;
    border-bottom: 60px solid #00C1AE; */
}

.tab1show::before {
    display: inline-block;
    content: '11111';
    text-align: center;
    /* line-height: 60px; */
    width: 120px;
    height: 0;
    border-left: 0;
    border-top: 0;
    border-right: 35px solid transparent;
    border-bottom: 60px solid #00C1AE;
}

.tab2show {
    /* position: relative; */
    /* margin-left: -36px; */
    /* width: 120px;
    height: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 35px solid transparent;
    border-top: 60px solid #00C1AE; */

}

.tab2show::before {
    /* position: absolute; */
    display: inline-block;
    content: '123131    ';
    text-align: center;
    /* line-height: 60px; */
    margin-left: 10px;
    width: 120px;
    height: 0;
    /* border-bottom: 0;
    border-right: 0;
    border-left: 35px solid transparent;
    border-top: 60px solid #00C1AE; */
    border-left: 0;
    border-top: 0;
    border-right: 35px solid transparent;
    border-bottom: 60px solid #00C1AE;
}


.tab1hide {
    display: inline-block;
    margin-right: 50px;
    width: 160px;
    height: 100px;
    background: #58a;
    /* line-height: 1px; */
    background:
        linear-gradient(-135deg, transparent 35px, #58a 0)top right,
        linear-gradient(90deg, transparent 25px, #58a 0)top left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
}

.tab2hide {}